<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>Bundles</key>
        <array>
            <string>com.twitch.TwitchApp</string>
            <string>com.apple.mobilesafari</string>
            <string>com.google.chrome.ios</string>
            <string>org.mozilla.ios.Firefox</string>
            <string>com.brave.BraveBrowser</string>
            <string>com.opera.OperaTouch</string>
            <string>com.google.ios.chrome</string>
            <string>com.apple.SafariViewService</string>
        </array>
    </dict>
</dict>
</plist>
